@(activePaintRooms : List[String])

@main(title = "Collaborative Drawing Board") {

	<div id="sessions" class="container" align="center">
	
		<h3>Server Dashboard</h3>
				
		<form id="session_form" method="post" class="form-horizontal container" action="@routes.Sessionmanager.index()" onsubmit="return validate_form()">
			
			<div class="row" align="center">
					<h3>Howdy! What's your name?</h3>
				
					<input type="text" class="input-large" id="painter_name" name="painter_name" placeholder="Your Name">
			</div>
			
			<h3>Select a Board</h3>
			<div class="row">
			 	<div class="span5"  align="center">
					
					<legend>Choose an Active Board</legend>
					<!-- List of active paint room sessions -->
				  	<input type="text" class="input-large" id="active_session_name" name="active_session_name" placeholder="Select a session name .."> 		
					<table class="table table-striped table-bordered table-condensed">
						<thead>
							<tr>
								<th>PaintRoom</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
			                @if(activePaintRooms == null || activePaintRooms.isEmpty()) {
			                    <tr>
			                    	<td colspan="2" class="text-error">No Active Drawing Boards Found! </td>
			                    </tr>
			                }
			                
			                @if(activePaintRooms != null && !activePaintRooms.isEmpty()) {
			                    @for(paintRoom <- activePaintRooms) {
			                        <tr>
			                            <td>@paintRoom</td>
			                            <td><input type="checkbox" name="@paintRoom" id="@paintRoom" value="@paintRoom"></td>
			                       </tr>
			                    }
			                }				
						</tbody>
					</table>
				
				</div>
				
				<div class="span2">
				
					<div align="center">
						<label><h3>or</h3></label>
					</div>
				</div>
				
				<div class="span5"  align="center">
					<!-- Form for creating a new paintroom session -->
					<legend>Create a New Board</legend>
				  	<input type="text" class="input-large" id="new_session_name" name="new_session_name" placeholder="Drawing Board Name">
				  	<br/>
				
				</div>
			</div>
		
			<br/>
			<div align="center">
				<button id="launch_session" type="submit" class="btn btn-success">
					<b>Launch Drawing Board</b> 
				</button>  
		   </div>
		    
		</form>		
	</div>
	
	<script type="text/javascript">           
	$(document).ready(function() {
		// HACK : To capture the value of the session to join via a clickable button, this hidden
		// element has been created. 
		$("#active_session_name").hide();
	});
	
	// Get the active session which user wants to join ..
    $(":checkbox").change(function(){
    	if(this.checked) {
	    	var cboxValue = $(this).attr("value");
	    	$('#active_session_name').val(cboxValue);
			console.log("Set active session : " + cboxValue);
    	}
    }); 
	
	// validates the form
	function validate_form()
	{
		var painter_name = $("#painter_name").val();
		// Must select a painter name for the current client
		if(painter_name == "" || !painter_name) {
			alert("Please enter a valid Painter Name !!");
			return false;
		}
		
		var active_session_name = $("#active_session_name").val();
		var new_session_name = $("#new_session_name").val();
		
		// Must either create a new sessior or choose an existing session - not both !!
		if((active_session_name && new_session_name) ||
		   (!active_session_name && !new_session_name)
		  ) 
		{
			alert("Please either choose an existing board or create a new one !!");
			return false;
		}
		
		return true;
	}	
	</script>	
}