@(activePaintRooms : List[String], serverStatsList : List[ServerStats], sessionStatsList : List[SessionStats])

@main(title = "CollabDraw Dashboard") {

	<div id="server_dashboard" class="container">
	
		<h3 align="center"><u>Dashboard</u></h3>
	
	 	<!-- SERVERS STATUS -->
		<legend><b>Worker Servers Status</b></legend>
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th><h4>Server IP</h4></th>
					<th><h4>is Active?</h4></th>
					<th><h4># of Boards Serving</h4></th>
					<th><h4># of Clients Serving</h4></th>
					<th><h4>Last Heartbeat</h4></th>
				</tr>
			</thead>
			<tbody>
                @if(serverStatsList == null || serverStatsList.isEmpty()) {
                    <tr>
                    	<td colspan="5" class="text-error"><h4>No Active Servers right now!</h4></td>
                    </tr>
                } else {
                    @for(serverStats <- serverStatsList) {
                     	@if(serverStats.mIsReachable == true){
                        <tr align="center" class="active">
                        } else {
                        <tr align="center" class="danger">
                        }
                        
                            <td><h4>@serverStats.mServerIP</h4></td>
                           
                            <td> 
                            @if(serverStats.mIsReachable == true){
                            	<img src="@routes.Assets.at("images/correct.jpg")"/>
                            } else {
                            	<img src="@routes.Assets.at("images/wrong.png")"/>
                            }</td>
                            
                            <td><h4>@serverStats.mSessionServingCount</h4></td>
                            <td><h4>@serverStats.mClientServingCount</h4></td>
                            
                            <td><h4>@serverStats.mLastHeartBeat</h4></td>
                       </tr>
                    }
                }				
			</tbody>
		</table>
			
		<!-- DRAWING BOARDS STATUS -->
		<legend><b>Drawing Boards Status</b></legend>
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th><h4>Drawing Board ID</h4></th>
					<th><h4>Preferred Servers</h4></th>
					<th><h4>Users</h4></th>
				</tr>
			</thead>
			<tbody>
                @if(sessionStatsList == null || sessionStatsList.isEmpty()) {
                    <tr>
                    	<td colspan="3" class="text-error"><h4>No Active Drawing Boards right now!</h4></td>
                    </tr>
                } else {
                    @for(sessionStats <- sessionStatsList) {
                        <tr align="center">
                            <td><h4>@sessionStats.mSessionID</h4></td>
                           
                           @if(sessionStats.mPreferredServers == null || sessionStats.mPreferredServers.isEmpty()) {
                            <td class="text-error"><h4>No Preferred Servers for this Board</h4></td>
                            } else {
                            <td><h4>@sessionStats.mPreferredServers</h4></td>
                            }
                            
                            @if(sessionStats.mUsers == null || sessionStats.mUsers.isEmpty()) {
                            <td class="text-error"><h4>No Users for this Board</h4></td>
                            } else {
                           	<td><h4>@sessionStats.mUsers</h4></td>
                            }
                            
                       </tr>
                    }
                }				
			</tbody>
		</table>


	</div>

}