@(paintroom : String, painter : String, primaryIP : String, failoverIPCanvasUrl : String)
 
@main(title = "Welcome to Paint Room ..") {

	<legend>
		<button id="status" name="status" class="btn btn-success"><i class="icon-thumbs-up"></i></button> 
		&nbsp; &nbsp;
		<b>Paint Room Name</b> : @paintroom , 
		<b>Painter Name</b> : @painter , 
		<b>Server IP Address</b> : @primaryIP
	</legend> 
	<label id="paint_room_name" name="paint_room_name" value="@paintroom">@paintroom</label>
	<label id="painter_name" name="painter_name" value="@painter">@painter</label>
	<label id="ip_address" name="ip_address" value="@primaryIP">@primaryIP</label>
	
	<div id="sketch_container">
		<canvas id="sketch_pad"></canvas>
	</div>
	
	<!-- In case the preferred server fails, relocate the client to another worker server
		 and make it as the preferred server for the paintroom.
	 -->
	<div id="failure_handler" align="center">
		<form id="failure_handler_form" method="post" class="form-horizontal container" action="@failoverIPCanvasUrl">
			<label id="paint_room_name_redirect" name="paint_room_name_redirect" value="@paintroom">@paintroom</label>
			<label id="painter_name_redirect" name="painter_name_redirect" value="@painter">@painter</label>		
			<h4 class="text-danger"><font color="red">Preferred server <b>@primaryIP</b> failed .. !!</font></h4>
			<div id="server_redirecting">
				<img height="50" width="50" src="http://barracuda.botany.wisc.edu/MaizeWebApp/assets/img/loading.gif">
			</div>			
			<button id="redirect" type="submit" class="btn btn-danger"><h4>Redirect to new server ..</h4></button>
		</form>
	</div>
	
	<script type="text/javascript" src = "@routes.Assets.at("javascripts/render.js")"></script>
	
	<script type="text/javascript">           
	$(document).ready(function() {
		$("#paint_room_name").hide();
		$("#painter_name").hide();
		$("#ip_address").hide();
		
		$("#failure_handler").hide();
		$("#paint_room_name_redirect").hide();
		$("#painter_name_redirect").hide();
	});
	</script>		
}