<!-- 
	TODO : 
	1) Add secondary canvas for color and size too.
	2) Add a dashboard at the bottom to show the status of message recieve from other clients,
	   currently connected webserver etc. to give a sneak peek into the distributed aspect of
	   the application.
	3) Instead of sending every single point, send a bunch of points together every 200ms. Human
	   eye can't distinguish such small lag but it leads to much lesser traffic between client
	   and server.
 -->
@main(title = "Collaborative Drawing Editor") {

	<!-- The 2-D canvas region -->
	<div id="sketch_container">
		<canvas id="sketch_pad"></canvas>
	</div>
	
	<!-- Source : http://codetheory.in/html5-canvas-drawing-lines-with-smooth-edges/ -->
	<script type="text/javascript" src = "@routes.Assets.at("javascripts/render.js")"></script>
}