@(paintroom : String, painter : String, primaryIP : String, replicateIP:String, failoverIPCanvasUrl : String)
 
@main(title = "Welcome to Paint Room") {

	<div class="row">
		<div class="span3">
			<h3> Welcome @painter!</h3>
		</div>
		<!-- In case the client is operating in disconnected mode, show this marker to indicate to
			the client
		-->
		<div id="disconnected_handler" align="center" class="span4">
			<h4 class="text-danger"><font color="red">[DISCONNECTED MODE]</font></h4>	
		</div>
		
		<div id="connected_handler" align="center" class="span4">
			<h4 class="text-success"><font color="green">[CONNECTED MODE]</font></h4>	
		</div>
	</div>
	
	<legend>
		<ul>
			<li><p><h4>Drawing Board : <font class="text-info">@paintroom</font></h4></p></li>
		   	<li><p><h4>Server IP Address : <font class="text-info">@primaryIP</font></h4></p></li>
	   	</ul>
	</legend> 
	
	<label id="paint_room_name" name="paint_room_name" value="@paintroom">@paintroom</label>
	<label id="painter_name" name="painter_name" value="@painter">@painter</label>
	<label id="preferred_ip_address" name="preferred_ip_address" value="@primaryIP">@primaryIP</label>
	<label id="replicate_ip_address" name="replicate_ip_address" value="@replicateIP">@replicateIP</label>	
	
	<div id="sketch_container">
		<canvas id="sketch_pad"></canvas>
	</div>
	
	<!-- In case the preferred server fails, relocate the client to another worker server
		 and make it as the preferred server for the paintroom.
	 -->
	<div id="failure_handler" align="center">
		<h4 class="text-danger"><font color="red">Preferred server <b>@primaryIP</b> failed .. !!</font></h4>
		<div id="server_redirecting">
			<img height="50" width="50" src="http://barracuda.botany.wisc.edu/MaizeWebApp/assets/img/loading.gif">
		</div>			
		<button id="redirect" class="btn btn-danger" onclick="location.href = '@failoverIPCanvasUrl';">
			<h4>Redirect to new server ..</h4>
		</button>
	</div>
	
	<script type="text/javascript" src = "@routes.Assets.at("javascripts/render.js")"></script>
	
	<script type="text/javascript">           
	$(document).ready(function() {
		$("#paint_room_name").hide();
		$("#painter_name").hide();
		$("#preferred_ip_address").hide();
		$("#replicate_ip_address").hide();
		
		$("#failure_handler").hide();
		$("#disconnected_handler").hide();
		$("#connected_handler").show();
	});
	</script>		
}
